html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  text-decoration: none;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
}
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url(../public/fonts/Rubik.eot);
  src: local('Rubik'), local('Rubik'), url(../public/fonts/Rubik.eot?#iefix) format('embedded-opentype'),
    url(../public/fonts/Rubik.woff) format('woff'), url(../public/fonts/Rubik.woff2) format('woff2'),
    url(../public/fonts/Rubik.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
@-webkit-keyframes heartbeat {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  to {
    transform: scale(1);
  }
}
@keyframes heartbeat {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  to {
    transform: scale(1);
  }
}
* {
  font-family: Rubik, sans-serif;
  box-sizing: border-box;
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  height: 100vh;
  background: url(/public/img/coc_game_ui_update.png) no-repeat;
  background-size: cover;
  position: relative;
}
.chat {
  max-width: 360px;
  height: 400px;
  position: absolute;
  bottom: 60px;
  left: 20px;
  background: rgba(0, 0, 0, 0.5);
  font-style: normal;
  font-weight: 400;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.chat__nav {
  display: flex;
  height: 40px;
  align-items: center;
  background: rgba(0, 0, 0, 0.33);
  padding: 0 10px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.chat__nav-btn {
  background-color: transparent;
  margin: 0 10px;
  border: none;
  color: #23b838;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  cursor: pointer;
}
.chat__panel {
  max-width: 110px;
  width: 100%;
  display: flex;
}
.chat__content {
  padding: 0 10px;
  overflow: auto;
  height: 360px;
}
.chat__nav__btn-content{
  display: flex;
  align-items: center;
}
.chat__nav__btn-wrapper {
  width: 250px;
  overflow: hidden;
  display: flex;
  position: relative;
}
.chat__panel__recycle {
  display: flex;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.2);
  position: relative;
  display: flex;
  cursor: pointer;
}
.chat__nav-arrow {
  position: absolute;
  right: 111px;
  background-color: transparent;
  width: 10px;
  border: none;
}
.btn-recycle {
  width: 5px;
  height: 5px;
  background: 0 0;
  border: none;
  bottom: 0;
  left: 3px;
  display: block;
}
.min {
  position: absolute;
  top: -2px;
  left: -1px;
}
.max {
  position: absolute;
  top: -5px;
  left: 2px;
}
.select {
  margin-left: 16px;
  margin-right: 11px;
  background-color: transparent;
  border: none;
  width: 38px;
  height: 18px;
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url(/public/img/icons/arrow-1.svg);
  background-repeat: no-repeat, repeat;
  background-position: right 0 top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.select:focus {
  outline: 0;
  background-color: transparent;
}
.select option {
  color: #000;
}
.btn-close {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  margin-left: 10px;
  cursor: pointer;
}
.btn-close:focus {
  outline: 0;
}
.message {
  display: flex;
  align-items: center;
  margin: 8px 0;
}
.message__item {
  width: 224px;
  background: #fff;
  border-radius: 20px 20px 20px 0;
  padding: 12px 11px;
  font-size: 13px;
  line-height: 15px;
}
.message__header {
  display: flex;
  align-items: center;
  padding-bottom: 6px;
}
.message__img {
  padding-right: 5px;
}
.message__name {
  padding-right: 5px;
  color: #999;
}
.message__number {
  color: #23b838;
  margin-right: 5px;
}
.message__text {
  font-size: 13px;
  line-height: 15px;
  color: #000;
}
.message__time {
  margin: 0 10px;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  opacity: 0.6;
}
.message__darck {
  max-width: 240px;
  width: 100%;
  word-wrap: break-word;
  background: #212121;
  border-radius: 20px 20px 0 20px;
  padding: 11px 12px;
  font-size: 13px;
  line-height: 15px;
}
.message__darck .message__text {
  color: #fff;
}
.jc-end {
  justify-content: end;
  margin-left: auto;
}
.chat__enter {
  width: 100%;
  background: rgba(0, 0, 0, 0.63);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
  bottom: -40px;
  z-index: 10;
}
.chat__input {
  width: 90%;
  padding: 12px 0;
  height: 100%;
  background-color: transparent;
  border: none;
  color: #fff;
}
.chat__input:focus {
  outline: 0;
}
.chat__input::-moz-placeholder {
  color: #fff;
  opacity: 0.4;
}
.chat__input:-ms-input-placeholder {
  color: #fff;
  opacity: 0.4;
}
.chat__input::placeholder {
  color: #fff;
  opacity: 0.4;
}
.chat__smail {
  cursor: pointer;
}
.chat__enter-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat__content::-webkit-scrollbar {
  width: 0;
}
.chat__content {
  scrollbar-width: none;
}
.chat__nav-btn.active {
  color: #fff;
}
.chat__item{
  color: white;
}
.chat__item p{
  padding-left: 10px;
}
.chat__item.active {
  display: block;
}
.chat.active {
  max-width: none;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: auto;
  margin-bottom: 0;
}
.chat.active .chat__content {
  height: auto;
}
.chat.active .chat__nav__btn-wrapper {
  width: auto;
}
.chat.active .chat__nav-arrow {
  display: none;
}
.d-none {
  display: none;
}
.height {
  height: auto;
}
.chat.active .chat__enter {
  position: absolute;
  bottom: 0;
}
@media (max-width: 385px) {
  .chat {
    max-width: 320px;
    left: 0;
  }
}
